@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@theme {
  --background-image-hero-pattern: url("/hero-bg.png");
  --color-light-100: #21168C;
  --color-light-200: #A8B5DB;
  --color-primary: #003459;

  --breakpoint-xs: 480px;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background: #050610;
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
  }
  h1 {
    @apply mx-auto max-w-4xl text-center text-5xl font-bold leading-tight tracking-[-1%] text-white sm:text-[64px] sm:leading-[76px];
  }

  h2 {
    @apply text-2xl font-bold text-white sm:text-3xl;
  }

  main {
    @apply min-h-screen relative bg-primary;
  }
}


@layer components {
  /*background*/
  .hero-wrapper {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
  }
  .pattern {
    @apply bg-hero-pattern w-full h-full bg-center bg-cover absolute z-0;
  }
  .wrapper {
    @apply px-5 py-12 xs:p-10 max-w-7xl mx-auto flex flex-col relative z-10;
  }

  /* MOBILE */
  .hero-section {
    @apply relative z-10;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    color: white;
    padding: 2rem;
  }

  .col-img1,
  .col-img2 {
    display: none;
  }

  .title {
    @apply flex flex-col items-center justify-center gap-8;
    width: 100%;
  }

  /*Title and search*/
  .title-box {
    @apply flex justify-center;
  }
  .title-box img {
    width: min(654px, 65vw);
    height: auto;
  }

  /*Boxes movies*/
  .img-box {
    @apply rounded-4xl overflow-hidden transition-all duration-200 ease-out;
    width: clamp(100px, 18vw, 230px);
    aspect-ratio: 1/1;
  }
  .img-box:hover {
    transform: scale(1.06) translateY(-4px);
  }
  .img-box img {
    @apply w-full h-full object-cover;
  }

  /*Search*/
  .search {
    @apply w-full flex justify-center mt-10;
    height: 60px;
    & div {
      @apply w-full max-w-[540px] flex items-center gap-3 bg-light-100 rounded-2xl;
    }
    & img {
      @apply w-6 h-6 shrink-0 mx-6 transition-all duration-200 ease-out;
    }
    & input {
      @apply w-full bg-transparent placeholder-light-200 outline-none;
    }
    & img:hover {
      transform: scale(1.06) translateY(-4px);
    }
  }

  /* All Movies */
  .all-movies {
    @apply space-y-9 bg-primary text-white;
    & ul {
      @apply grid grid-cols-1 gap-5 xs:grid-cols-2 md:grid-cols-3 lg:grid-cols-4;
    }
  }
}

/* TABLET (768px–1023px) */
@media (min-width: 768px) {
  .hero-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "title title"
      "left  right";
    align-items: center;
    padding: 2.5rem;
    gap: 0;
  }

  .col-img1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    grid-area: left;
  }

  .col-img2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    grid-area: right;
  }

  .title {
    grid-area: title;
    align-items: center;
    gap: 1.5rem;
  }

  .title-box img {
    width: min(654px, 45vw);
  }
}

/* DESKTOP (1024px+)*/
@media (min-width: 1024px) {
  .hero-section {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left title right";
    padding: 2.5rem;
  }

  .title {
    align-items: center;
    gap: 2rem;
  }

  .title-box img {
    width: min(654px, 50vw);
  }

  .img-box {
    width: clamp(130px, 16vw, 230px);
  }

  .col-img1,
  .col-img2 {
    gap: 2.5rem;
  }
}