@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@theme {
  --background-image-hero-pattern: url("/hero-bg.png");
  --color-light-100: #21168C;
  --color-light-200: #A8B5DB;
}



@layer base {
  body {
    background: #050610;
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
  }
}


@layer components {
  /*background*/
  .main {
    position: relative;
  }
  .pattern {
    @apply bg-hero-pattern w-full h-screen bg-center bg-cover absolute inset-0 -z-10;
  }

  .hero-section {
    @apply relative z-10 w-full h-screen grid text-white p-10;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "title title" "left right";
  }
  .col-img1 { grid-area: left; }
  .title { grid-area: title; }
  .col-img2{ grid-area: right; }

  .col-img1,
  .col-img2 {
    @apply flex flex-col items-center justify-center gap-4;
  }

  .title {
    @apply flex flex-col justify-center gap-20;
  }

  /*Title and search*/
  .title-box { @apply flex justify-center; }
  .title-box img {
    width: min(654px, 90vw);
    height: auto;
  }

  /*Boxes movies*/
  .img-box {
    @apply rounded-4xl overflow-hidden transition-all duration-200 ease-out;
    width: clamp(150px, 20vw, 230px);
    aspect-ratio: 1/1;
  }
  .img-box:hover { transform: scale(1.06) translateY(-4px); }
  .img-box img {
    @apply w-full h-full object-cover;
  }

  /*Search*/
  .search {
  @apply w-full flex justify-center h-[68px];
  & div {
    @apply w-full max-w-[640px] flex items-center gap-3
         bg-light-100 rounded-2xl;
  }
  & img {
    @apply w-20 h-5 shrink-0;
  }
  & input {
    @apply w-full bg-transparent placeholder-light-200 outline-none;
  }
}
}

@media (min-width: 1280px) {
  .hero-section {
    @apply p-10;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "left title right";
  }
}

